.about-container {
  height: calc(100vh - 126px); 
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.about-section {
  flex: none;
  width: 100vw;
  height: 60vh;
  scroll-snap-align: start;
  display: flex;
  background-color: #111;
  color: white;
}

