.footer {
  background-color: #111;
  color: #fff;
  border-top: 1px solid #333;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}

.footer-icon {
  font-size: 20px;
  color: #9c9999;
  transition: 0.2s ease;
}

.footer-icon:hover {
  color: #ffffff;
  transform: scale(1.5);
}
